* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open-sans', sans-serif;
}

:root {
  --primaryColor: #39AA4A;
  --secondaryColor: #FFCC2E;
  --importantTextColor: #0071B1;
  --secondaryTextColor: #525252;
  --errorColor: red;
}